body{
    background-color:blanchedalmond;
}
h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #f33716;
}
img{
    width: 500px; height: 500px;
}
  
    
  